.cameraHeader {
  overflow: hidden;
  text-align: center;
  font-size: 400%;
  font-family: Ahem!, sans-serif;
  margin-bottom: 3%;
  margin-top: 2em;
}

.cameraHeader:before,
.cameraHeader:after {
  background-color: #eaeaea;
  content: '';
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.cameraHeader:before {
  right: 0.5em;
  margin-left: -50%;
}

.cameraHeader:after {
  left: 0.5em;
  margin-right: -50%;
}

#camera-row {
  margin-top: 3%;
  margin-bottom: 7%;
}

.photoImage {
  width: 300px;
}

.photoTable,
.camTable {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.amazonHeader {
  overflow: hidden;
  text-align: center;
  font-size: 25px;
  font-family: Ahem!, sans-serif;
  margin-top: 3%;
}

#photos {
  color: #eaeaea;
  font-size: 50px;
  margin-bottom: 0.5%;
}

#parksListed {
  color: #eaeaea;
  font-size: 50px;
  margin-bottom: 0.5%;
}

#table-row {
  margin-left: 0%;
}

#park-name {
  color: #eaeaea;
  font-size: 30px;
  font-family: Ahem!, sans-serif;
  padding-left: 5%;
}
