.nav-div {
  position: fixed;
  width: 100%;
  top: 0;
  display: block;
  list-style-type: none;
  overflow: hidden;
  list-style-type: none;
  z-index: 9999;
  font-size: 20px;
  font-family: Ahem!, sans-serif;
}

.navbar {
  background-color: black;
}

.navbar-dark .navbar-toggler {
  border-color: grey !important;
}

.navbar-dark .navbar-nav {
  color: #eaeaea !important;
}

.navbar-dark .navbar-brand {
  color: #eaeaea !important;
}

.navbar-dark .navbar-brand {
  padding: 7px 5px 15px 5px;
  font-size: 20px;
  height: 100%;
}

ul.ml-auto.navbar-nav {
  float: right;
  margin-left: auto;
  font-size: 20px;
}

.nav-item {
  float: right;
  height: 100%;
  padding-left: 2%;
}

.navLink {
  color: #eaeaea !important;
}

.navLink:hover {
  color: #009d00 !important;
  text-decoration: none;
}

form.form-inline {
  padding-top: 4%;
}
