p {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  max-height: 100%;
}

.searchTitle {
  text-align: center;
  color: #eaeaea;
  font-size: 50px;
}

.results {
  font-size: 30px;
}

.separator {
  border-bottom: 1px #eaeaea solid;
}

.loader {
  margin-top: 10%;
  text-align: center;
}

.searchResults {
  color: #eaeaea;
}

.searchResults:hover {
  text-decoration: none;
  color: #eaeaea;
}

.singleResult {
  background-color: #3a3a3a;
  border: solid 1px #3a3a3a;
  margin-bottom: 5%;
  padding: 20px 10px 20px 40px;
}

.singleResult:hover {
  border: solid 1px white;
}

.img-fluid {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 400px;
}

.imgWrapper {
  text-align: center;
  float: none;
  padding-right: 0;
}

.paginationCol {
  text-align: center;
  align-content: center;
}

.highlighted {
  color: #009d00;
  background-color: inherit;
  font-weight: bold;
  padding: 0;
}

.searchResultHeader {
  font-size: 30px;
}

.attributeHeader {
  font-size: 25px;
}

.attributeDesc {
  font-size: 16px;
}
