table {
  margin: auto;
  width: 100%;
}

th {
  text-align: center;
}

tr {
  text-align: center;
}

#profile {
  align-content: center;
  /* display: inline-block; */
  /* padding-left: 10%; */
  /* padding-right: 10%; */
}

.aboutHeader {
  width: 100%;
  /* text-shadow: 2px 2px #4d4d4d; */
  /* margin: 25% 0 25%; */
  font-family: Ahem!, sans-serif;
  text-align: center;
  /* border-bottom: 1px solid #000; */
  overflow: hidden;
  text-align: center;
  color: #EAEAEA;
  padding-bottom: 10%;
}

#aboutTitle {
  text-align: center;
  height: 100px;
  font-size: 75px;
}

.name {
  font-size: 20px;
  color: #EAEAEA;
  font-weight: bold;
}

.topProfiles {
  margin-bottom: 3%;
}

.bottomProfiles {
  width: 75%;
}

.aboutDesc {
  padding-top: 5%;
  padding-bottom: 5%;
  /* border-bottom: solid; */
}

.aboutHeader:before,
.aboutHeader:after {
  background-color: #EAEAEA;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.aboutHeader:before {
  right: 0.5em;
  margin-left: -50%;
}

.aboutHeader:after {
  left: 0.5em;
  margin-right: -50%;
}

span {
  font-family: Ahem!, sans-serif;
}

#teamStats {
    padding-top: 10%;
}
