.photo-container {
	display: inline-block;
	padding-top: 15%;
	padding-left: 15%;
}

.flex-container {
	display: flex;
	flex-direction: row;
	float: right;
	padding-top: 17%;
	padding-right: 20%;
}

.text-container {
	text-align-last: end;
}

.info-container {
	padding-top: 0.65%;
	padding-left: 8px;
}

#brand-text {
	color: #EAEAEA;
	font-family: Ahem!, sans-serif;
	font-size: large;
}

#brand-name {
	color: #EAEAEA;
	font-family: Ahem!, sans-serif;
	font-size: large;
}

#camera-text {
	padding-top: 4%;
	color: #EAEAEA;
	font-family: Ahem!, sans-serif;
	font-size: large;
}

#camera-details {
	padding-top: 5%;
	color: #EAEAEA;
	font-family: Ahem!, sans-serif;
	font-size: large;
}


