div.desc {
	/*display: inline;
	margin: auto;
	width: auto;
	text-align: center;*/
	display: table-cell;
  align-items: center;
	vertical-align: middle;
	width: 30%;
}

.title {
	text-align: center;
	font-size: 50px;
	display: block;
	/*align-items: center;
	justify-content: center*/
}

.container {
	width: auto;
	display: table-row;
}

div#myCarousel.carousel.slide {
	margin: 1.5% 0% 0% 1%;
	width: 95%;
}

p {
	display: table-cell;
	text-align: center;
	padding: 0px 20px 0px 20px;
	vertical-align: center;
	height: auto;
	width: auto;
}

* {
  margin: 0;
  padding: 0;
}

nav {
	display: block;
	width: 100%;
}

ul {
	display: block;
  list-style-type: none;
  overflow: hidden;
  list-style-type: none;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
	font-family: fantasy;
	font-style: italic;
}

#logo {
  float:left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.carousel {
	width: 100%;
	height: 100%;
	position: inline;
}


#myCarousel {
	display: inline;
	float:left;
}
