.header {
  width: 100%;
  font-family: Ahem!, sans-serif;
  color: #EAEAEA;
  text-align: center;
  height: 100px;
  font-size: 75px;
}

.header:before,
.header:after {
  background-color: #EAEAEA;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.header:before {
  right: 0.5em;
  margin-left: -50%;
}

.header:after {
  left: 0.5em;
  margin-right: -50%;
}

#camera-row {
  margin-top: 3%;
  margin-bottom: 7%;
}

.image {
  width: 70%;
  margin-left: 25%;
  border: 1px solid #EAEAEA;
}

#info-text > h3 {
  text-align-last: end;
  color: #EAEAEA;
  font-family: Ahem!, sans-serif;
}

#infoHeader {
  margin-left: 93%;
  color: #EAEAEA;
  font-family: Ahem!, sans-serif;
  font-size: 50px;
}

#ans-text {
  padding-top: 5.25%;
  color: #EAEAEA;
  font-family: Ahem!, sans-serif;
}

.photoImage {
  width: 300px;
}

.photoTable, .camTable {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#photos {
  color: #EAEAEA;
  font-size: 50px;
  margin-bottom: .5%;
}

#parksListed {
  color: #EAEAEA;
  font-size: 50px;
  margin-bottom: .5%;
}

#table-row {
  margin-left: 0%;
}

#park-name {
  color: #EAEAEA;
  font-size: 30px;
  font-family: Ahem!, sans-serif;
  padding-left: 5%;
}
