.image {
  max-height: 600px;
  margin-left: 25%;
  border: 1px solid #EAEAEA;
}

.imgWrapper {
  padding-right: 10%;
}

#info-text > h3 {
  text-align-last: end;
  color: #EAEAEA;
  font-family: Ahem!, sans-serif;
}

#infoHeader {
  margin-left: 40%;
  margin-bottom: 3%;
  color: #EAEAEA;
  font-family: Ahem!, sans-serif;
  font-size: 40px;
}

#ans-text {
  padding-top: 5.25%;
  color: #EAEAEA;
  font-family: Ahem!, sans-serif;
}

.descKey {
  font-size: 150%;
}

.descVal {
  font-size: 150%;
}

.descKeysCol {
   text-align: right;
}

.descValsCol {
  word-wrap: break-word;
}

.infoRow {
  margin-top: 5%;
  margin-left: 5%;
}
