.Container {
	color: #EAEAEA;
}

.card-img {
	top width: 100px;
	height: 200px;
}

.CardBody {
	flex: 1 1 auto;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
}

.cardDiv {
  padding-bottom: 10%;
	margin-left: 5%;
	margin-right: 5%;
}
