.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

.navList {
  float: right;
}

.navList, #logo {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
	font-family: Ahem!, sans-serif;
	font-size: large;
}

#logo {
  float:left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	font-family: Ahem!, sans-serif;
	font-size: large;
}

.navList:hover {
	color: #009D00;
	text-decoration: none;
}
