.parkHeader {
 overflow: hidden;
 text-align: center;
 font-size: 75px;
 font-family: Ahem!, sans-serif;
}

.parkHeader:before,
.parkHeader:after {
 background-color: #EAEAEA;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 50%;
}
.parkHeader:before {
 right: 0.5em;
 margin-left: -50%;
}
.parkHeader:after {
 left: 0.5em;
 margin-right: -50%;
}

.photoImage, .camImage {
  width: 300px;
}

.photoTable, .parkTable {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#parkPhotos, #cameraPhotos {
  color: #EAEAEA;
  font-size: 50px;
  margin-left: 5%;
  margin-bottom: .5%;
}
