.material-icons {
  color: #EAEAEA;
}

.fluid-container {
	color: #EAEAEA;
}

.photoTitle {
  margin-bottom: 5%;
  font-size: 75%;
}

#photoDetailTitle {
  font-family: Ahem!, sans-serif;
  font-size: large;
  text-align: left;
}

.links {
	font-size: large;
  text-align: left;
}

#descriptionRow {
  padding: 2em;
}

#photoTitleColumn {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: x-large;
}

#photoContainer {
  margin-top: 2em;
  height: 40em;
  justify-content: center;
  align-items: center;
  display: flex;
}

#picture {
  max-height: 40em;
	max-width: 100%;
	margin: auto;
	display: block;
	width: auto;
}

.imageRow {
  height: 100%;
}

.headerRow {
	margin-top: 0%;
	margin-bottom: 0%;
}
