.material-icons {
  color: #EAEAEA;
}

.fluid-container {
	color: #EAEAEA;
}

#title {
	text-align: center;
}

#linksRow {
	text-align: center;
	font-size: x-large;
}

#descriptionRow {
  padding: 2em;
}

#picture {
	width: 100%;
}

.headerRow {
	margin-top: 0%;
	margin-bottom: 0%;
}
