#scrollableTable {
	overflow-x: auto;
}

.photoTable {
  margin-left: auto;
  margin-right: auto;
}

.hovereffect img{
	height: 200px !important;
}

.hovereffect {
	width: auto !important;
}

.hovereffect .overlay {
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}

#scrollableTitle {
  color: #EAEAEA;
  font-size: 25px;
  margin-left: 5%;
  margin-bottom: .5%;
}

.photoImage {
	width: auto;
}
