.searchTitle {
  text-align: center;
  color: #EAEAEA;
}

.separator {
  border-bottom: 1px #EAEAEA solid;
}

.loader {
  margin-top: 10%;
  text-align: center;
}

.searchResults {
  color: #EAEAEA;
}
