<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='../static/navbar.css' rel='stylesheet'>
		<link href='../static/general.css' rel='stylesheet'>
    <link href='../static/about.css' rel='stylesheet'>
</head>
<ul class = "navbar">
    <a href="/about" class = "navList">About</a>
    <a href="/cameras" class = "navList">Cameras</a>
    <a href="/photos" class = "navList">Photos</a>
    <a href="/parks" class = "navList">Parks</a>
    <a href="/" class = "navList">Home</a>
    <a id="logo"><span>NatPhoto</span><i class="material-icons">landscape</i></a>
</ul>
<body>
  <p class="aboutDesc">There is a lot that goes into a photograph. Natphoto.me will show off the beautiful United States National Parks while giving you an inside look at the lens that took the photo. The proposed project will connect cameras, photos taken by those cameras, and the locations of the photos (one of the national parks in the US).</p>
  <h1 class="aboutHeader" id="aboutTitle"><span>Meet the SWEet Tea Team</span></h1>
  <table class="topProfiles">
    <tr class="profileRowOne">
      <td id="profile">
        <img src="../static/photos/jeff.png">
        <h2 class="name">Jeff Bell</h2>
        <h3 class="resp">Backend Developer</h3>
        <span>insert bio here</span></br>
        <span class="gitProfile">Commits: </span></br>
        <span class="gitProfile">Issues: </span></br>
        <span class="gitProfile">Unit Tests: </span>
      </td>
      <td id="profile">
        <img src="../static/photos/dayanny.png">
        <h2 class="name">Dayanny Caballero</h2>
        <h3 class="resp">Frontend Developer</h3>
        <span>insert bio here</span></br>
        <span class="gitProfile">Commits: </span></br>
        <span class="gitProfile">Issues: </span></br>
        <span class="gitProfile">Unit Tests: </span>
      </td>
      <td id="profile">
        <img src="../static/photos/tony.png">
        <h2 class="name">Tony DeNapoli</h2>
        <h3 class="resp">Frontend Developer</h3>
        <span>insert bio here</span></br>
        <span class="gitProfile">Commits: </span></br>
        <span class="gitProfile">Issues: </span></br>
        <span class="gitProfile">Unit Tests: </span>
      </td>
    </tr>
  </table>
  <table class="bottomProfiles">
    <tr class="profileRowTwo">
      <td id="profile">
        <img src="../static/photos/ben.png">
        <h2 class="name">Ben Johnson</h2>
        <h3 class="resp">Backend Developer</h3>
        <span>insert bio here</span></br>
        <span class="gitProfile">Commits: </span></br>
        <span class="gitProfile">Issues: </span></br>
        <span class="gitProfile">Unit Tests: </span>
      </td>
      <td id="profile">
        <img src="../static/photos/bri.png">
        <h2 class="name">Bri Vargas</h2>
        <h3 class="resp">Frontend Developer</h3>
        <span>insert bio here</span></br>
        <span class="gitProfile">Commits: </span></br>
        <span class="gitProfile">Issues: </span></br>
        <span class="gitProfile">Unit Tests: </span>
      </td>
    </tr>
  </table>
  <h2 class="aboutHeader" id="teamStats">Team Stats:</h2>
  <div class="row teamStatsWrapper">
    <span class="col-sm-1"></span>
    <div class="col-sm-3">
      <div class="row" id="teamStatsBox">
        <div class="col-sm-6">
          <h2 class="teamStatsInfo">Total Commits: </h2></br>
          <h2 class="teamStatsInfo">Total Issues: </h2></br>
          <h2 class="teamStatsInfo">Total Unit Tests: </h2>
        </div>
        <div class="col-sm-6">
          <h2 class="teamStatsData">?</h2></br>
          <h2 class="teamStatsData">?</h2></br>
          <h2 class="teamStatsData">?</h2>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <h2 class="dataHeader">The Data:</h2></br>
    </div>
    <div class="col-sm-4">
      <h2>Toolbox:</h2>
    </div>
</div>
</body>
