<!DOCTYPE html>
<html>
<head>
    <!-- <link href='./mainpage.css' rel='stylesheet'> -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='../static/mainpage.css' rel='stylesheet'>
    <link href='../static/about.css' rel='stylesheet'>
</head>
<body>
  <ul>
        <li><a href="about.html">About</a></li>
        <li><a href="cameradetailpage.html">Cameras</a></li>
        <li><a href="photogridpage.html">Photos</a></li>
        <li><a href="#parks">Parks</a></li>
        <li><a href="mainpage.html">Home</a></li>
      <li id="logo"><span>NatPhoto</span><i class="material-icons">landscape</i></li>
  </ul>
  <p class="aboutDesc">There is a lot that goes into a photograph. Natphoto.me will show off the beautiful United States National Parks while giving you an inside look at the lens that took the photo. The proposed project will connect cameras, photos taken by those cameras, and the locations of the photos (one of the national parks in the US).</p>
  <h1 class="aboutHeader" id="aboutTitle"><span>Meet the Team</span></h1>
  <table class="topProfiles">
    <tr class="profileRowOne">
      <td id="profile">
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/45447-200.png">
        <h2 class="name">Jeff Bell</h2>
      </td>
      <td id="profile">
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/45447-200.png">
        <h2 class="name">Dayanny Caballero</h2>
      </td>
      <td id="profile">
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/45447-200.png">
        <h2 class="name">Tony DeNapoli</h2>
      </td>
    </tr>
  </table>
  <table class="bottomProfiles">
    <tr class="profileRowTwo">
      <td id="profile">
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/45447-200.png">
        <h2 class="name">Ben Johnson</h2>
      </td>
      <td id="profile">
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/45447-200.png">
        <h2 class="name">Bri Vargas</h2>
      </td>
    </tr>
  </table>
  <h2 class="aboutHeader" id="teamStats">Team Stats:</h2>
</body>
