<html>
<head>
	<link href='../static/cameradetailpage.css' rel='stylesheet'>
	<link href='../static/cameradetailpage.css' rel='stylesheet'>
</head>
<body>
	<ul>
        <li><a href="about.html">About</a></li>
        <li><a href="cameradetailpage.html">Cameras</a></li>
        <li><a href="photogridpage.html">Photos</a></li>
        <li><a href="#parks">Parks</a></li>
        <li><a href="mainpage.html">Home</a></li>
        <li id="logo">NatPhoto []</li>
    </ul>

	<div class="photo-container">
		<a href="mainpage.html">
			<img src="https://4.img-dpreview.com/files/p/E~TS520x0~articles/9335477559/canon_16_35mm_III_5.jpeg">
		</a>
	</div>
<div class="flex-container">
	<div class="text-container">
		<h3>Brand:</h3>
		<p>Model:</p>
		<p>Resolution:</p>
		<p>Continuous Drive Speed:</p>
		<p>Other tech specs:</p>
		<p>Link to Photos</p>
		<p>Link to Parks</p>
	</div>

	<div class="info-container">
		<p>EOS 5D Mark IV</p>
		<p>30.4 MP</p>
		<p>7 fps</p>
		<p>Other</p>
	</div>
	</div>

</body>
</html>
