<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='../static/navbar.css' rel='stylesheet'>
	<link href='../static/general.css' rel='stylesheet'>
	<link href='../static/cameradetailpage.css' rel='stylesheet'>
</head>
<ul class = "navbar">
    <a href="/about" class = "navList">About</a>
    <a href="/cameras" class = "navList">Cameras</a>
    <a href="/photos" class = "navList">Photos</a>
    <a href="/parks" class = "navList">Parks</a>
    <a href="/" class = "navList">Home</a>
    <a id="logo"><span>NatPhoto</span><i class="material-icons">landscape</i></a>
</ul>
<body>
	<h1 class="cameraHeader"><span>Canon EOS 5D Mark IV</span></h1>

  	<div class="row">
  		<div class="col-sm-6">
    		<img class="cameraImage" src="https://4.img-dpreview.com/files/p/E~TS520x0~articles/9335477559/canon_16_35mm_III_5.jpeg">
    	</div>

 		  <div class="col-sm-3" id="info-text">
			  <h2 id = "infoHeader">Info</h2>
      		<h3 id = "brand">Brand:</h3>
      		<h3 id = "model">Model:</h3>
      		<h3 id = "resolution">Max Resolution:</h3>
      		<h3 id = "pixels">Effective Pixels:</h3>
      		<h3 id = "cds">Continuous Drive Speed:</h3>
      		<h3 id = "video">Video Enabled:</h3>
      </div>

      <div class="col-sm-3" id="ans-text">
			  <h3 id = "brandAns"></h3>
      		<h3 id = "modelAns"></h3>
      		<h3 id = "resolutionAns"></h3>
      		<h3 id = "pixelsAns"></h3>
      		<h3 id = "cdsAns"></h3>
      		<h3 id = "videoAnd"></h3>
		  </div>
  	</div>


	<h1 id = "cameraPhotos">Photos Taken</h1>
  	<table class = "photoTable">
    	<tr>
      		<td><img class = "photoImage" src="https://travel.usnews.com/static-travel/images/destinations/7/grand_prismatic_spring_yellowstone.jpg"></td>
      		<td><img class = "photoImage" src="http://cdn.newsapi.com.au/image/v1/f03f880ac3fe263b0309c1987c69008b"></td>
      		<td><img class = "photoImage" src="https://www.travelwyoming.com/sites/default/files/styles/16_9_wide/public/assets/YNP_hero1_v2.gif?itok=N0SaAXh6&timestamp=1457981209"></td>
     		 <td><img class = "photoImage" src="http://cdn.history.com/sites/2/2017/03/GettyImages-154931596.jpg"></td>
      		<td><img class = "photoImage" src="http://cdn-image.travelandleisure.com/sites/default/files/styles/medium_2x/public/1517261363/yellowstone-national-park-wyoming-YELLOWSTONE0118.jpg?itok=1ETM2GNU"></td>
    	</tr>
  	</table>
  	<h1 id = "parksListed" >Parks Used At</h1>
  	<!--table class = "parkTable">
    	<tr>
     	<td><img class = "camImage" src="https://www.bhphotovideo.com/images/images2500x2500/canon_1263c006_eos_80d_dslr_camera_1225877.jpg"></td>
      	<td><img class = "camImage" src="https://target.scene7.com/is/image/Target/15201643?wid=520&hei=520&fmt=pjpeg"></td>
      	<td><img class = "camImage" src="https://images-na.ssl-images-amazon.com/images/I/61ahmp0c9hL._SL1001_.jpg"></td>
  	</table-->


	<!--div class="flex-container">
		<div class="text-container">
			<p id="camera-text">Brand:<br>Model:<br> Resolution:<br>Continuous Drive Speed:
				<br>Video Enabled:<br>Link to Photos<br>Link to Parks
			</p>
		</div>

		<div class="info-container">
			<p id="camera-details">Canon<br>EOS 5D Mark IV<br>30.4 MP<br>7 fps<br>Yes</p>
		</div>
	</div-->
</body>
</html>
