<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='../static/cameragridpage.css' rel='stylesheet'>
	<link href='../static/navbar.css' rel='stylesheet'>
	<link href='../static/general.css' rel='stylesheet'>
</head>
<ul class = "navbar">
    <a href="/about" class = "navList">About</a>
    <a href="/cameras" class = "navList">Cameras</a>
    <a href="/photos" class = "navList">Photos</a>
    <a href="/parks" class = "navList">Parks</a>
    <a href="/" class = "navList">Home</a>
    <a id="logo" href="/"><span>NatPhoto</span><i class="material-icons">landscape</i></a>
</ul>
</body>
	<div class="fluid-container">
		<div class="row">
  			<div class="col-sm-4">
    			<div class="hovereffect">
							<a href="/camera/3">
        			<img class="img-responsive" src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/5792/5792700_sd.jpg" alt="">
            			<div class="overlay">
               			 	<h1>Canon Camera</h1>
           				</div>
							</a>
    			</div>
  			</div>
  			<div class="col-sm-4">
    			<div class="hovereffect">
							<a href="/camera/1">
        			<img class="img-responsive" src="https://n3.sdlcdn.com/imgs/a/i/q/Nikon-Coolpix-P7700-12-2-1536150-6-f2879.jpg" alt="">
            			<div class="overlay">
               			 	<h1>Nikon Cool Pix</h1>
           				</div>
							</a>
    			</div>
  			</div>
  			<div class="col-sm-4">
    			<div class="hovereffect">
							<a href="/camera/2">
        			<img class="img-responsive" src="https://cdnl.ritzcamera.com/media/catalog/product/1/0/10268770.jpg" alt="">
            			<div class="overlay">
               			 	<h1>Nikon D7100</h1>
           				</div>
							</a>
    			</div>
    		</div>
		</div>
	</div>

</body>
</html>
