<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href='../static/mainpage.css' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='../static/cameradetailpage.css' rel='stylesheet'>
</head>
<ul class = "navbar">
		<a href="about.html" class = "navList">About</a>
		<a href="cameragridpage.html" class = "navList">Cameras</a>
		<a href="photogridpage.html" class = "navList">Photos</a>
		<a href="parkgridpage.html" class = "navList">Parks</a>
		<a href="mainpage.html" class = "navList">Home</a>
		<a id="logo"><span>NatPhoto</span><i class="material-icons">landscape</i></a>
</ul>
<body>
	<div class="photo-container">
		<a href="mainpage.html">
			<img src="https://4.img-dpreview.com/files/p/E~TS520x0~articles/9335477559/canon_16_35mm_III_5.jpeg">
		</a>
	</div>

	<div class="flex-container">
		<div class="text-container">
			<p id="camera-text">Brand:<br>Model:<br> Resolution:<br>Continuous Drive Speed:
				<br>Video Enabled:<br>Link to Photos<br>Link to Parks
			</p>
		</div>

		<div class="info-container">
			<p id="camera-details">Canon<br>EOS 5D Mark IV<br>30.4 MP<br>7 fps<br>Yes</p>
		</div>
	</div>
</body>
</html>
