<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='../static/photodetailpage.css' rel='stylesheet'>
    <link href='../static/navbar.css' rel='stylesheet'>
		<link href='../static/general.css' rel='stylesheet'>
</head>

<ul class = "navbar">
    <a href="/about" class = "navList">About</a>
    <a href="/cameras" class = "navList">Cameras</a>
    <a href="/photos" class = "navList">Photos</a>
    <a href="/parks" class = "navList">Parks</a>
    <a href="/" class = "navList">Home</a>
    <a id="logo"><span>NatPhoto</span><i class="material-icons">landscape</i></a>
</ul>

<body>

	<div class="fluid-container">
		<div class="row">
			<div class="col-sm-12" id="title">
  				<h1>Half A Sunset</h1>
  				<h3>by</h3>
  				<h1>Nicolas Jaud</h1>
  				<h3>on</h3>
  				<h2>June 25th, 2017</h2>
  				<h2>3 Favorites</h2>
  			</div>
		</div>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10" id="photo">
				<img src="https://c1.staticflickr.com/5/4529/37718090005_023fa923a2_h.jpg" alt="Beautiful Picture" style="width:100%">
			</div>
			<div class="col-sm-1"></div>
		</div>
    	<div class="row" id="linksRow">
   			<div class="col-sm-6" id="cameraLink">Canon EOS 5D Mark IV <i class="material-icons">camera</i></div>
   			<div class="col-sm-6" id="parkLink">Yosemite National Park <i class="material-icons">landscape</i></div>
 		</div>
	</div>

</body>

</html>
