<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='../static/mainpage.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <ul>
        <li><a href="about.html">About</a></li>
        <li><a href="cameradetailpage.html">Cameras</a></li>
        <li><a href="photogridpage.html">Photos</a></li>
        <li><a href="#parks">Parks</a></li>
        <li><a href="mainpage.html">Home</a></li>
        <li id="logo"><span>NatPhoto</span><i class="material-icons">landscape</i></li>
    </ul>

    <div class="carousel container" id="carContainer">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="https://media.timeout.com/images/102908736/image.jpg" alt="ParkOne" style="width:100%;">
        </div>

        <div class="item">
          <img src="https://photos.smugmug.com/North-America/California/Redwood-National-Park/i-fQqHSJc/0/f5692c09/X2/_GMA7647_tonemapped-X2.jpg" alt="ParkTwo" style="width:100%;">
        </div>

        <div class="item">
          <img src="https://media.timeout.com/images/102908703/image.jpg" alt="ParkThree" style="width:100%;">
        </div>

        <div class="item">
          <img src="https://thumbs.dreamstime.com/b/bald-cypress-tree-overhaning-river-20474394.jpg" alt="ParkFour" style="width:100%;">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="desc">
      <div class="textWrapper">
        <h1 class="title">NatPhoto</h1>
        <p>There is a lot that goes into a photograph. Natphoto.me will show off the beautiful United States National Parks while giving you an inside look at the lens that took the photo. The proposed project will connect cameras, photos taken by those cameras, and the locations of the photos (one of the national parks in the US).</p>
        <div class="typeicons">
          <i class="material-icons" id="mountains">landscape</i>
          <i class="material-icons" id="cam">photo_camera</i>
          <i class="material-icons" id="photos">insert_photo</i>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
