<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href='../static/cameradetailpage.css' rel='stylesheet'>
	<link href='../static/navbar.css' rel='stylesheet'>
	<link href='../static/general.css' rel='stylesheet'>
</head>
<ul class = "navbar">
    <a href="/about" class = "navList">About</a>
    <a href="/cameras" class = "navList">Cameras</a>
    <a href="/photos" class = "navList">Photos</a>
    <a href="/parks" class = "navList">Parks</a>
    <a href="/" class = "navList">Home</a>
    <a id="logo" href="/"><span>NatPhoto</span><i class="material-icons">landscape</i></a>
</ul>
<body>
  <h1 class="cameraHeader"><span>Nikon Coolpix P7700</span></h1>

  <div class="row">
    <div class="col-sm-6">
      <img class="cameraImage" src="https://n3.sdlcdn.com/imgs/a/i/q/Nikon-Coolpix-P7700-12-2-1536150-6-f2879.jpg">
    </div>

    <div class="col-sm-3" id="info-text">
      <h2 class="row" id="infoHeader">Info</h2>
      <h3 id = "brand">Brand:</h3>
      <h3 id = "model">Model:</h3>
      <h3 id = "resolution">Max Resolution:</h3>
      <h3 id = "pixels">Effective Pixels:</h3>
      <h3 id = "cds">Continuous Drive Speed:</h3>
      <h3 id = "video">Video Enabled:</h3>
    </div>

    <div class="col-sm-3" id="ans-text">
      <h3 id = "brandAns">Nikon</h3>
      <h3 id = "modelAns">Coolpix P7700</h3>
      <h3 id = "resolutionAns">4000x3000</h3>
      <h3 id = "pixelsAns">12 megapixels</h3>
      <h3 id = "cdsAns">None</h3>
      <h3 id = "videoAnd">Yes</h3>
    </div>
  </div>

  <div class="row" id="table-row">
	<h1 id = "cameraPhotos">Photos Taken</h1>
  	<table class = "photoTable">
      <tr>
      	<td>
      	  <a href="/photo/2">
      		<img class = "photoImage" src="https://c1.staticflickr.com/9/8406/8679159813_1f23534aed_b.jpg">
      	  </a>
      	</td>
      </tr>
  	</table>
  </div>

  <div class="row" id="table-row">
    <h1 id = "parksListed" >Parks Used At</h1>
    <div class="col-sm-5" id="park-name">Death Valley National Park</div>
  </div>
</body>
</html>
