<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='../static/mainpage.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='../static/parkgridpage.css' rel='stylesheet'>
</head>
<body>
	<ul>
   		<li><a href="about.html">About</a></li>
		<li><a href="cameradetailpage.html">Cameras</a></li>
    	<li><a href="photogridpage.html">Photos</a></li>
    	<li><a href="parkgridpage.html">Parks</a></li>
   		<li><a href="mainpage.html">Home</a></li>
    	<li id="logo"><span>NatPhoto</span><i class="material-icons">landscape</i></li>
    </ul>

	<div class="row">
  		<div class="column">
    		<div class="img__wrap">
  				<img class="img__img" src="https://media-cdn.tripadvisor.com/media/photo-s/0b/c8/ff/df/park-entrance-sign.jpg" />
  				<p class="img__description">Redwood National Park</p>
			</div>
  		</div>
  		<div class="column">
  			<div class="img__wrap">
  				<img class="img__img" src="http://pictures.richardhealey.com/pictures/original/p227_sign.jpg" />
  				<p class="img__description">Yellowstone National Park</p>
			</div>
 		</div>
  		<div class="column">
  			<div class="img__wrap">
  				<img class="img__img" src="https://media-cdn.tripadvisor.com/media/photo-s/03/e0/7e/86/entrance-sign.jpg" />
  				<p class="img__description">Yosemite National Park</p>
			</div>
  		</div>
	</div>

</body>
</html>
