<!DOCTYPE html>
<html>
<head>
    <!-- <link href='./mainpage.css' rel='stylesheet'> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='../static/mainpage.css' rel='stylesheet'>
    <link href='../static/parkdetailpage.css' rel='stylesheet'>
</head>
<ul class = "navbar">
    <a href="/about" class = "navList">About</a>
    <a href="/cameras" class = "navList">Cameras</a>
    <a href="/photos" class = "navList">Photos</a>
    <a href="/parks" class = "navList">Parks</a>
    <a href="/" class = "navList">Home</a>
    <a id="logo"><span>NatPhoto</span><i class="material-icons">landscape</i></a>
</ul>
<body>
  <h1 class="parkHeader"><span>Yellowstone National Park</span></h1>
  <div class="parkWrapper">
    <img class="parkImage" src="https://travel.usnews.com/static-travel/images/destinations/7/grand_prismatic_spring_yellowstone.jpg">
    <div class = "parkInfo">
      <h2 id = "infoHeader">Info</h2>
      <h3 id = "location">Location: </h3>
      <h3 id = "parkWeblink">Website: </h3>
      <h3 id = "sunset">Daylight hours: </h3>
      <h3 id = "weather">Weather: </h3>
      <h3 id = "parkHours">Park hours: </h3>
    </div>
  </div>
  <h1 id = "parkPhotos" >Photos Taken</h1>
  <table class = "photoTable">
    <tr>
      <td><img class = "photoImage" src="https://travel.usnews.com/static-travel/images/destinations/7/grand_prismatic_spring_yellowstone.jpg"></td>
      <td><img class = "photoImage" src="http://cdn.newsapi.com.au/image/v1/f03f880ac3fe263b0309c1987c69008b"></td>
      <td><img class = "photoImage" src="https://www.travelwyoming.com/sites/default/files/styles/16_9_wide/public/assets/YNP_hero1_v2.gif?itok=N0SaAXh6&timestamp=1457981209"></td>
      <td><img class = "photoImage" src="http://cdn.history.com/sites/2/2017/03/GettyImages-154931596.jpg"></td>
      <td><img class = "photoImage" src="http://cdn-image.travelandleisure.com/sites/default/files/styles/medium_2x/public/1517261363/yellowstone-national-park-wyoming-YELLOWSTONE0118.jpg?itok=1ETM2GNU"></td>
    </tr>
  </table>
  <h1 id = "parkPhotos" >Cameras Used</h1>
  <table class = "camTable">
    <tr>
      <td><img class = "camImage" src="https://www.bhphotovideo.com/images/images2500x2500/canon_1263c006_eos_80d_dslr_camera_1225877.jpg"></td>
      <td><img class = "camImage" src="https://target.scene7.com/is/image/Target/15201643?wid=520&hei=520&fmt=pjpeg"></td>
      <td><img class = "camImage" src="https://images-na.ssl-images-amazon.com/images/I/61ahmp0c9hL._SL1001_.jpg"></td>
  </table>
</body>
