<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='../static/photogridpage.css' rel='stylesheet'>
	<link href='../static/navbar.css' rel='stylesheet'>
	<link href='../static/general.css' rel='stylesheet'>
</head>
<ul class = "navbar">
    <a href="/about" class = "navList">About</a>
    <a href="/cameras" class = "navList">Cameras</a>
    <a href="/photos" class = "navList">Photos</a>
    <a href="/parks" class = "navList">Parks</a>
    <a href="/" class = "navList">Home</a>
    <a id="logo" href="/"><span>NatPhoto</span><i class="material-icons">landscape</i></a>
</ul>
<body>
	<div class="fluid-container">
		<div class="row">
  			<div class="col-sm-4">
    			<div class="hovereffect">
							<a href="/photo/3">
        			<img class="img-responsive" src="https://c1.staticflickr.com/5/4529/37718090005_023fa923a2_h.jpg" alt="">
									<div class="overlay">
               			 	<h1>Half A Sunset</h1>
           				</div>
									</a>
    			</div>
  			</div>
  			<div class="col-sm-4">
    			<div class="hovereffect">
							<a href="/photo/2">
        			<img class="img-responsive" src="https://c1.staticflickr.com/9/8406/8679159813_1f23534aed_b.jpg" alt="">
									<div class="overlay">
               			 	<h1>Mesquite Flat Dunes</h1>
           				</div>
									</a>
    			</div>
  			</div>
  			<div class="col-sm-4">
    			<div class="hovereffect">
							<a href="/photo/1">
        			<img class="img-responsive" src="https://c1.staticflickr.com/3/2885/9249507518_25eabef5f3_h.jpg" alt="">

									<div class="overlay">
               			 	<h1>Yellowstone National Park - 3</h1>
           				</div>
							</a>
    			</div>
    		</div>
		</div>
	</div>

</body>
</html>
