<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='../static/mainpage.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='../static/photogridpage.css' rel='stylesheet'>
</head>

	<ul class = "navbar">
			<a href="about.html" class = "navList">About</a>
			<a href="cameradetailpage.html" class = "navList">Cameras</a>
			<a href="photogridpage.html" class = "navList">Photos</a>
			<a href="parks.html" class = "navList">Parks</a>
			<a href="mainpage.html" class = "navList">Home</a>
			<a id="logo"><span>NatPhoto</span><i class="material-icons">landscape</i></a>
	</ul>
<body>
	<div class="row">
  		<div class="column">
    		<div class="img__wrap">
  				<img class="img__img" src="https://media.timeout.com/images/102908736/image.jpg" />
  				<p class="img__description">The Grand Canyon I think.<br/>By Bri Vargas</p>
			</div>
  		</div>
  		<div class="column">
  			<div class="img__wrap">
  				<img class="img__img" src="http://www.history.com/s3static/video-thumbnails/AETN-History_VMS/21/201/tdih-feb26-HD.jpg" />
  				<p class="img__description">Autumn Beauty.<br/>By Dayanny Caballero</p>
			</div>
 		</div>
  		<div class="column">
  			<div class="img__wrap">
  				<img class="img__img" src="http://allswalls.com/images/grinnell-glacier-national-park-wallpaper-2.jpg" />
  				<p class="img__description">OS El Capitan<br/>By Tony DeNapoli</p>
			</div>
  		</div>
	</div>

</body>
</html>
