<!DOCTYPE html>
<html>
<head>
    <link href='../static/photodetailpage.css' rel='stylesheet'>
    <link href='../static/mainpage.css' rel='stylesheet'>
</head>
  <ul class = "navbar">
      <a href="about.html" class = "navList">About</a>
      <a href="cameradetailpage.html" class = "navList">Cameras</a>
      <a href="photogridpage.html" class = "navList">Photos</a>
      <a href="parks.html" class = "navList">Parks</a>
      <a href="mainpage.html" class = "navList">Home</a>
      <a id="logo"><span>NatPhoto</span><i class="material-icons">landscape</i></a>
  </ul>
<body>
	<header class="w3-container title">
  		<h1>Title</h1>
  		<h2>by</h2>
  		<h1>Photographer</h1>
  		<h2>Popularity</h2>
	</header>

	<img src="http://allswalls.com/images/grinnell-glacier-national-park-wallpaper-2.jpg" alt="Beautiful Picture" style="width:100%">

	<article class="w3-container date">
  		<h3>2-2-18</h3>
	</article>

	<footer class="w3-container links">
		<div class="left">Yellowstone</div>
		<div class="right">Cannon PowerShot</div>
	</footer>

</body>
</html>
