<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='../static/photogridpage.css' rel='stylesheet'>
	<link href='../static/navbar.css' rel='stylesheet'>
	<link href='../static/general.css' rel='stylesheet'>
</head>
<ul class = "navbar">
    <a href="/about" class = "navList">About</a>
    <a href="/cameras" class = "navList">Cameras</a>
    <a href="/photos" class = "navList">Photos</a>
    <a href="/parks" class = "navList">Parks</a>
    <a href="/" class = "navList">Home</a>
    <a id="logo"><span>NatPhoto</span><i class="material-icons">landscape</i></a>
</ul>
<body>
	<div class="fluid-container">
		<div class="row">
  			<div class="col-sm-4">
    			<div class="hovereffect">
        			<img class="img-responsive" src="https://media.timeout.com/images/102908736/image.jpg" alt="">
            			<div class="overlay">
               			 	<h1>The Grand Canyon I think</h1>
           				</div>
    			</div>
  			</div>
  			<div class="col-sm-4">
    			<div class="hovereffect">
        			<img class="img-responsive" src="http://www.history.com/s3static/video-thumbnails/AETN-History_VMS/21/201/tdih-feb26-HD.jpg" alt="">
            			<div class="overlay">
               			 	<h1>Autumn Beauty.</h1>
           				</div>
    			</div>
  			</div>
  			<div class="col-sm-4">
    			<div class="hovereffect">
        			<img class="img-responsive" src="http://allswalls.com/images/grinnell-glacier-national-park-wallpaper-2.jpg" alt="">
            			<div class="overlay">
               			 	<h1>OS El Capitan</h1>
           				</div>
    			</div>
    		</div>
		</div>
	</div>

</body>
</html>
