<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='../static/navbar.css' rel='stylesheet'>
    <link href='../static/parkdetailpage.css' rel='stylesheet'>
	<link href='../static/general.css' rel='stylesheet'>
</head>
<ul class = "navbar">
    <a href="/about" class = "navList">About</a>
    <a href="/cameras" class = "navList">Cameras</a>
    <a href="/photos" class = "navList">Photos</a>
    <a href="/parks" class = "navList">Parks</a>
    <a href="/" class = "navList">Home</a>
    <a id="logo" href="/"><span>NatPhoto</span><i class="material-icons">landscape</i></a>
</ul>
<body>
	<h1 class="parkHeader"><span>Yellowstone National Park</span></h1>

  	<div class="row">
  		<div class="col-sm-6">
    		<img class="parkImage" src="https://www.nps.gov/common/uploads/grid_builder/imr/crop16_9/D5121912-1DD8-B71B-0B74A845D32F5219.jpg?width=950&quality=90&mode=crop">
    	</div>
 		  <div class="col-sm-2" id="info-text">
        <h2 class="row" id = "infoHeader">Info</h2>
        <h3 id = "location">Location: </h3>
        <h3 id = "parkWeblink">Website: </h3>
        <h3 id = "sunset">Daylight hours: </h3>
        <h3 id = "weather">Weather: </h3>
        <h3 id = "parkHours">Park hours: </h3>
      </div>
      <div class="col-sm-4" id="ans-text">
          <h3 id = "locationAns">Yellowstone National Park, WY 82190</h3>
      	  <h3 id = "parkWebLinkAns">
      	  	<a href="https://www.nps.gov/yell/index.htm">https://www.nps.gov/yell/index.htm</a>
      	  </h3>
      	  <h3 id = "sunsetAns">Sometime</h3>
      	  <h3 id = "weatherAns">Chilly</h3>
      	  <h3 id = "parkHoursAns">24/7</h3>
		  </div>
  	</div>
    <h1 id = "parkPhotos" >Photos Taken</h1>
    <table class = "photoTable">
      <tr>
        <td>
        	<a href="/photo/1">
        		<img class = "photoImage" src="https://c1.staticflickr.com/3/2885/9249507518_25eabef5f3_h.jpg">
        	</a>
        </td>
      </tr>
    </table>
    <h1 id = "parkPhotos" >Cameras Used</h1>
    <table class = "parkTable">
      <tr>
        <td>
        	<a href="/camera/2">
        		<img class = "camImage" src="https://cdnl.ritzcamera.com/media/catalog/product/1/0/10268770.jpg">
        	</a>
        </td>
      </tr>
    </table>
</body>
</html>
